.subscribe-button {
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  margin-left: 20px;
  transition: opacity .15s;
  vertical-align: top;
}

.subscribe-button:hover{
  opacity: 0.75;

}
.subscribe-button:active {
  opacity: 0.5;
}
.join-button {
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  color:rgb(41, 118, 211);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.15s,
    color 0.15s;
  vertical-align: top;
}
.join-button:hover {
  background-color:rgb(41, 118, 211);
  color:white;
}
.join-button:active {
  opacity: 0.8;
}
.tweet-button {
  background-color:#1d9bf0;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align: top;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;

}
.tweet-button:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15)
}
.request-button {
  background-color: black;
  color: white;
  margin-left: 8px;
  width: 100px;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;

}
.request-button:hover {
  opacity: 0.75;
}
.request-button:active {
  opacity: 0.3;
}
.cart-button {
  background-color: rgb(255, 216, 20);
  height: 30px;
  width: 140px;
  margin-left: 8px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.15s;
  vertical-align: top;
}
.cart-button:hover {
  background-color: rgb(245, 205, 3);
}
.sign-button {
  background-color: rgb(46, 164, 79);
  height: 30px;
  width: 90px;
  margin-left: 8px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 38px;
  color: white;
  font-weight: bold;
  transition: box shadow 0.15s;
}
.sign-button:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15)
}
.getstarted-button {
  background-color: rgb(103, 68, 156);
  height: 30px;
  width: 100px;
  margin-left: 8px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 8px;
  color: white;
  font-weight: bold;
  transition: opacity 0.15s;
}
.getstarted-button:hover {
  opacity: 0.73;
}
.download-button {
  background-color: white;
  height: 30px;
  width: 100px;
  margin-left: 8px;
  border-radius: 3px;
  border: rgb(108, 117, 125);
  cursor: pointer;
  position: relative;
  margin-top: 8px;
  color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
  border-width: 1px;
  border-style: solid;
  transition: opacity 0.15s;
}
.download-button:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
.linkedin-button {
  background-color: rgb(17, 130, 243);
  height: 30px;
  width: 230px;
  margin-left: 8px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 8px;
  color: white;
  font-weight: bold;
  transition: 0.15s;
}
.linkedin-button:hover {
  opacity: 0.75;
}
.linkedin-button:active {
  opacity: 0.5;
}
.save-button {
  background-color: white;
  height: 30px;
  width: 70px;
  margin-left: 8px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 8px;
  color:rgb(10, 102, 194);
  border-style: solid;
  border-width: 1px;
  transition: opacity 0.15s;
}
.save-button:hover {
  background-color: rgb(10, 102, 194);
  color: white;
}
.save-button:active {
  opacity: 0.5;
}
.amazon-link {
  color: rgb(0,113,133)
}
.title {
  font-size: 24px;
  font-weight: bold;
}

.price {
color: rgb(0, 136, 0);
font-weight: bold;
}
.Add-to-cart {
  background-color: rgb(249, 217, 76);
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 15px;
  margin-right: 8px;
  cursor: pointer;
}

.Buy-button {
  background-color: rgb(255, 164, 28);
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 15px;
  cursor: pointer;
}